@font-face {
    font-family: Roboto;
    src: url(./Fonts/Roboto-Regular.ttf);
}

*, *::after, *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.View{
    width: 100%;
    height: 100vh;
}

/*the first page */
.firstPage{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

/*header*/
/*/*navigation bar*/
nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav ul li {
    list-style-type: none;

}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo{
    font-size: 24px;
    color: #f9faf8;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

/*/*Home View*/
.homeView{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 10px;
}

.subtextHeading{
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 10px;
}

.homeContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 500px;
}

.Signup{
    background-color: #3882F6;
    width: 8vw;
    height: 5vh;
    border-radius: 10px;
    border: none; 
    color: #f9faf8;
    font-weight: 700;
    font-size: 15px;
}

.homeImage{
    background-color: #6d6e6c;
}

.homeImage div{
    color: #fefeff;
    padding: 100px;
}

/* Some random information */
.RandInfoView{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Random-text{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 30px;
    padding-top: 50px;
    margin-bottom: 100px;
}

.box{
    max-width: 150px;
}

.card{
    border: 3px solid  #3882F6;
    border-radius: 10px;
    height: 150px;
    max-width: 150px;
    
}

.boxes{
    display: flex;
    gap: 30px;
}

/* The quotation view */
.quotationView{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.quotationView div{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}




.quoter{
    align-self: flex-end;
    font-weight: 900;
}


/* footer view */
.footerView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.footer-card{
    background-color: #3882F6;
    color: #fefeff;
    border-radius: 10px;
    min-width: 500px;
    padding: 30px;
    width: 75%;
    height: 150px;

    font-size:larger;

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}


.Call-in-action{
    font-weight: 900;
}

.signupButton{
    background-color: transparent;
    color:#fefeff;
    padding: 5px 20px;
    border: 2px solid #fefeff;
    border-radius: 10px;
}

.footer{
    justify-self: flex-end;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;

    width: 100%;
    height: 100px;

    color: #fefeff;
}